/* 移动端样式 */
@media (max-width: 768px) {

   /* 导航栏布局 */
    header nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加底部阴影 */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.submenu, .submenu-level2 {
        position: static;
        padding-left: 20px;
        box-shadow: none;
    }
    
    /* 显示汉堡菜单按钮 */
    .hamburger {
        display: flex;
    }

    /* 隐藏 PC 端的导航菜单 */
    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #4CAF50;
        flex-direction: column;
    }

    /* 展开菜单时显示 */
    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 1rem;
    }

    /* LOGO 靠右对齐 */
    .logo {
        margin-left: auto;
        order: 2; /* 确保 logo 在汉堡菜单按钮右侧 */
    }

    /* 汉堡按钮在最左边 */
    .hamburger {
        order: 1;
    }
}
